//= require 'skeleton'
//= require 'devices.min'

h1 {
  margin: 1em auto;
  text-align: center;
}

h2 {
  color: #E6772E;
  text-align: center;
}

.main {
  text-align: center;
  margin-bottom: 2em;

  .marvel-device {
    margin: auto auto;
  }

  .screen img {
    width: 320px;
  }
}
