//= require 'skeleton'
//= require 'devices.min'

h1 {
  padding-top: 1em;
  text-align: center;
}

.main {
  text-align: center;

  .marvel-device {
    margin: auto auto;
  }

  .screen img {
    width: 320px;
  }
}
