//= require 'skeleton'
//= require 'devices.min'

h1 {
  padding-top: 1em;
  text-align: center;
}

.main {
  margin: auto 1em;
  text-align: center;

  .marvel-device {
    margin: 1em auto;
  }
}

p.content {
  padding-top: 3em;
  font-size: 4em;
  color: #CCC;
}
